---
server:
    install: '1'
    timezone: UTC
    locale: en_US.UTF-8
vagrant_local:
    install: '1'
    vm: { base_box: trusty64, hostname: default, ip: 192.168.33.99, memory: '512', sharedfolder: ./, useVagrantCloud: '1', syncType: nfs }
nginx:
    install: '1'
    docroot: /vagrant
    servername: myApp.vb
mariadb:
    install: '1'
    root_password: '123'
    database: db
    user: user
    password: password
    dump: ''
sqlite:
    install: '1'
php:
    install: '1'
    packages: [php5-cli, php5-intl, php5-mcrypt, php5-mysql, php5-sqlite]
    ppa: php
    #ppa: php5-5.6
    #Issue #289 https://github.com/phansible/phansible/issues/289

